<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  <EnableDamage>피해 활성화</EnableDamage>
  <EnablePlayerDamage>플레이어가 입는 피해 활성화</EnablePlayerDamage>
  <EnableRandomMentalStates>무작위 정신 상태 활성화</EnableRandomMentalStates>
  <EnableStoryteller>이야기꾼 활성화</EnableStoryteller>
  <EnableRandomDiseases>무작위 질병 활성화</EnableRandomDiseases>
  <GodMode>갓 모드</GodMode>
  <NoAnimals>동물 비활성화</NoAnimals>
  <UnlimitedPower>전력 무제한</UnlimitedPower>
  <PathThroughWalls>벽 무시 경로탐색</PathThroughWalls>
  <InstantRecruit>즉시 포섭</InstantRecruit>
  <AlwaysSocialFight>항상 사교적 다툼</AlwaysSocialFight>
  <AlwaysDoLovin>항상 사랑 나눔</AlwaysDoLovin>
  <DetectRegionListersBugs>RegionLister 버그 탐지</DetectRegionListersBugs>
  <InstantVisitorsGift>즉시 방문객 선물</InstantVisitorsGift>
  <LowFPS>낮은 FPS</LowFPS>
  <FastResearch>빠른 연구</FastResearch>
  <FastLearning>빠른 학습</FastLearning>
  <FastEcology>빠른 생태계</FastEcology>
  <FastEcologyRegrowRateOnly>빠른 생태계, 식물 생성 주기만</FastEcologyRegrowRateOnly>
  <FastCrafting>빠른 제작</FastCrafting>
  <FastCaravans>빠른 상단</FastCaravans>
  <DrawFog>안개 그리기</DrawFog>
  <DrawSnow>눈 그리기</DrawSnow>
  <DrawTerrain>지형 그리기</DrawTerrain>
  <DrawTerrainWater>물 그리기</DrawTerrainWater>
  <DrawThingsDynamic>동적 Thing 그리기</DrawThingsDynamic>
  <DrawThingsPrinted>프린팅 Things 그리기</DrawThingsPrinted>
  <DrawShadows>그림자 그리기</DrawShadows>
  <DrawLightingOverlay>조명 오버레이 그리기</DrawLightingOverlay>
  <DrawWorldOverlays>세계 오버레이 그리기</DrawWorldOverlays>
  <DrawPaths>경로 그리기</DrawPaths>
  <DrawCastPositionSearch>시전 위치 탐색 그리기</DrawCastPositionSearch>
  <DrawDestSearch>목적지 탐색 그리기</DrawDestSearch>
  <DrawSectionEdges>구획 테두리 그리기</DrawSectionEdges>
  <DrawRiverDebug>강 디버그 그리기</DrawRiverDebug>
  <DrawPawnDebug>Pawn 디버그 그리기</DrawPawnDebug>
  <DrawPawnRotatorTarget>Pawn 회전 대상 그리기</DrawPawnRotatorTarget>
  <DrawRegions>Region 그리기</DrawRegions>
  <DrawRegionLinks>Region 링크 그리기</DrawRegionLinks>
  <DrawRegionDirties>Region 변형 그리기</DrawRegionDirties>
  <DrawRegionTraversal>Region 순회 그리기</DrawRegionTraversal>
  <DrawRegionThings>Region Thing 그리기</DrawRegionThings>
  <DrawRooms>방 그리기</DrawRooms>
  <DrawRoomGroups>방 그룹 그리기</DrawRoomGroups>
  <DrawPower>전력 그리기</DrawPower>
  <DrawPowerNetGrid>PowerNetGrid 그리기</DrawPowerNetGrid>
  <DrawOpportunisticJobs>기회기반 작업 그리기</DrawOpportunisticJobs>
  <DrawTooltipEdges>툴팁 모서리 그리기</DrawTooltipEdges>
  <DrawRecordedNoise>녹화한 노이즈 그리기</DrawRecordedNoise>
  <DrawFoodSearchFromMouse>마우스 기준 음식 턈색 그리기</DrawFoodSearchFromMouse>
  <DrawPreyInfo>사냥감 정보 그리기</DrawPreyInfo>
  <DrawGlow>빛 정보 그리기</DrawGlow>
  <DrawAvoidGrid>회피 그리드 그리기</DrawAvoidGrid>
  <DrawLords>Lord 그리기</DrawLords>
  <DrawDuties>Duty 그리기</DrawDuties>
  <DrawShooting>발사 그리기</DrawShooting>
  <DrawInfestationChance>곤충 군락 확률 그리기</DrawInfestationChance>
  <DrawStealDebug>절도 디버그 그리기</DrawStealDebug>
  <DrawDeepResources>심층 자원 그리기</DrawDeepResources>
  <DrawAttackTargetScores>공격 대상 점수 그리기</DrawAttackTargetScores>
  <DrawInteractionCells>상호작용 칸 그리기</DrawInteractionCells>
  <DrawDoorsDebug>문 디버그 그리기</DrawDoorsDebug>
  <DrawDestReservations>목적지 예약 그리기</DrawDestReservations>
  <DrawDamageRects>피해 Rect 그리기</DrawDamageRects>
  <WriteGame>Game 쓰기</WriteGame>
  <WriteSteamItems>Steam 항목 쓰기</WriteSteamItems>
  <WriteConcepts>도우미 Concept 쓰기</WriteConcepts>
  <WriteReservations>예약 쓰기</WriteReservations>
  <WritePathCosts>경로 비용 쓰기</WritePathCosts>
  <WriteFertility>비옥도 쓰기</WriteFertility>
  <WriteLinkFlags>LinkFlags 쓰기</WriteLinkFlags>
  <WriteCover>엄폐 쓰기</WriteCover>
  <WriteCellContents>칸 내용물 쓰기</WriteCellContents>
  <WriteMusicManagerPlay>MusicManager 재생 쓰기</WriteMusicManagerPlay>
  <WriteStoryteller>이야기꾼 쓰기</WriteStoryteller>
  <WritePlayingSounds>재생 중인 소리 쓰기</WritePlayingSounds>
  <WriteSoundEventsRecord>소리 이벤트 기록 쓰기</WriteSoundEventsRecord>
  <WriteMoteSaturation>Mote 포화도 쓰기</WriteMoteSaturation>
  <WriteSnowDepth>눈 깊이 쓰기</WriteSnowDepth>
  <WriteEcosystem>생태계 쓰기</WriteEcosystem>
  <WriteRecentStrikes>최근 광맥 발견 쓰기</WriteRecentStrikes>
  <WriteBeauty>미관 쓰기</WriteBeauty>
  <WriteListRepairableBldgs>수리 가능한 건물 쓰기</WriteListRepairableBldgs>
  <WriteListFilthInHomeArea>주거구역 내 오물 목록 쓰기</WriteListFilthInHomeArea>
  <WriteListHaulables>운반 가능 목록 쓰기</WriteListHaulables>
  <WriteListMergeables>병합 가능 목록 쓰기</WriteListMergeables>
  <WriteTotalSnowDepth>총 눈 깊이 쓰기</WriteTotalSnowDepth>
  <WriteCanReachColony>정착지 도달 가능 여부 쓰기</WriteCanReachColony>
  <WriteMentalStateCalcs>정신불안 정보 쓰기</WriteMentalStateCalcs>
  <WriteWind>바람 쓰기</WriteWind>
  <WriteTerrain>지형 쓰기</WriteTerrain>
  <WriteApparelScore>의류 점수 쓰기</WriteApparelScore>
  <WriteWorkSettings>작업 설정 쓰기</WriteWorkSettings>
  <WriteSkyManager>SkyManager 쓰기</WriteSkyManager>
  <WriteMemoryUsage>메모리 사용량 쓰기</WriteMemoryUsage>
  <WriteMapGameConditions>지도 상황 쓰기</WriteMapGameConditions>
  <WriteAttackTargets>공격 대상 쓰기</WriteAttackTargets>
  <LogIncapChance>Log incap chance</LogIncapChance>
  <LogInput>Log input</LogInput>
  <LogApparelGeneration>Log apparel generation</LogApparelGeneration>
  <LogLordToilTransitions>Log lord toil transitions</LogLordToilTransitions>
  <LogGrammarResolution>Log grammar resolution</LogGrammarResolution>
  <LogCombatLogMouseover>Log combat log mouseover</LogCombatLogMouseover>
  <LogMapLoad>Log map load</LogMapLoad>
  <LogTutor>Log tutor</LogTutor>
  <LogSignals>Log signals</LogSignals>
  <LogWorldPawnGC>Log WorldPawnGC</LogWorldPawnGC>
  <LogTaleRecording>Log tale recording</LogTaleRecording>
  <LogHourlyScreenshot>Log hourly screenshot</LogHourlyScreenshot>
  <LogFilthSummary>Log filth summary</LogFilthSummary>
  <DebugApparelOptimize>Debug apparel optimize</DebugApparelOptimize>
  <ShowAllRoomStats>Show all room stats</ShowAllRoomStats>
  <ShowFloatMenuWorkGivers>Show float menu WorkGivers</ShowFloatMenuWorkGivers>
</LanguageData>